<mat-sidenav-container class="ux-sidenav-container ux-layout ux-layout--inventory">
    <!-- BEGIN: FILTER DRAWER -->
    <mat-sidenav #filterDrawer mode="{{navMode}}" opened="true" class="ux-layout__sidenav ux-layout--inventory-drawer" id="filterDrawer">
        <!-- BEGIN: DRAWER FILTER LIST -->
        <nav class="mdl-navigation ux-navigation-filter">
            <!-- BEGIN: FILTER LIST -->
            <div class="mdl-layout__drawer_list ux-layout__drawer-list">
                <mdl-layout-title class="ux-filter-title">Filter Options</mdl-layout-title>
                <mdl-list class="mdl-list ux-list">
                    <h6 class="mdl-filter__category ux-subheader">Manufacturer</h6>
                    <mdl-list-item class="mdl-list__item ux-list__item">
                        <span>
                            <mdl-checkbox ng-reflect-model="false" ng-reflect-ripple-active="true" id="chkBox-02" class="mdl-checkbox is-upgraded ng-untouched ng-pristine ng-valid">
                                <input class="mdl-checkbox__input ng-untouched ng-pristine ng-valid" type="checkbox" ng-reflect-is-disabled="false">
                                <span class="mdl-checkbox__label"><span class="mdl-checkbox-span-value">Apple </span>
                                    <span class="mdl-checkbox-span-count">(6)</span>
                                </span>
                            </mdl-checkbox>
                        </span>
                    </mdl-list-item>
                    <mdl-list-item class="mdl-list__item ux-list__item">
                        <span>
                            <mdl-checkbox ng-reflect-model="false" ng-reflect-ripple-active="true" id="chkBox-02" class="mdl-checkbox is-upgraded ng-untouched ng-pristine ng-valid">
                                <input class="mdl-checkbox__input ng-untouched ng-pristine ng-valid" type="checkbox" ng-reflect-is-disabled="false">
                                <span class="mdl-checkbox__label"><span class="mdl-checkbox-span-value">Lenovo </span>
                                    <span class="mdl-checkbox-span-count">(4)</span>
                                </span>
                            </mdl-checkbox>
                        </span>
                    </mdl-list-item>
                    <mdl-list-item class="mdl-list__item ux-list__item">
                        <span>
                            <mdl-checkbox ng-reflect-model="false" ng-reflect-ripple-active="true" id="chkBox-02" class="mdl-checkbox is-upgraded ng-untouched ng-pristine ng-valid">
                                <input class="mdl-checkbox__input ng-untouched ng-pristine ng-valid" type="checkbox" ng-reflect-is-disabled="false">
                                <span class="mdl-checkbox__label"><span class="mdl-checkbox-span-value">Hewlett-Packard </span>
                                    <span class="mdl-checkbox-span-count">(2)</span>
                                </span>
                            </mdl-checkbox>
                        </span>
                    </mdl-list-item>
                </mdl-list>
            </div>
        </nav>
        <!-- END: DRAWER FILTER LIST -->
        <!-- BEGIN: DRAWER DEVICE LIST (DYNAMIC, DRILL IN) -->
        
        <!-- END: DRAWER DEVICE LIST (DYNAMIC, DRILL IN) -->
    </mat-sidenav>
    <!-- END: FILTER DRAWER -->
    <!-- BEGIN: PAGE HEADER & ACTIONS -->
    <mat-toolbar class="mat-elevation-z2 ux-layout__header ux-layout--inventory-header" id="inv-mdl-layout-header">
        <!-- BEGIN: INVENTORY TITLE -->
        <span class="ux-layout--inventory__header-row ux-layout--inventory__header-title">
            <!-- <h1 class="ux-title" id="action-bar-title">{{title | translate:lang}}</h1> -->
            <h1 class="ux-title" id="action-bar-title"><span>actionBarTitle</span></h1>
        </span>
        <span class="ux-toolbar--spacer"></span>
        <!-- END: INVENTORY TITLE -->
        <!-- BEGIN: INVENTORY HEADER ACTIONS -->
        <mat-toolbar-row class="ux-layout--inventory__header-row ux-layout--inventory__header-actions">
            <nav class="ux-toolbar__actions">
                <button mat-button class="ux-button">Send Messages</button>
                <button mat-button class="ux-button">Deploy</button>
                <button mat-button class="ux-button">Sort<mat-icon>arrow_drop_down</mat-icon></button>
            </nav>
            <span class="ux-toolbar--spacer"></span>
            <nav class="ux-toolbar__page-actions">
                <button mat-icon-button class="ux-icon-button"><mat-icon>view_module</mat-icon></button>
                <button mat-icon-button class="ux-icon-button"><mat-icon>view_list</mat-icon></button>
            </nav>
        </mat-toolbar-row>
        <!-- END: INVENTORY HEADER ACTIONS -->
    </mat-toolbar>
    <!-- END: PAGE HEADER & ACTIONS -->
    <!-- RESPONSIVE BUTTON  -->
    <button mat-icon-button (click)="filterDrawer.open()" class="ux-layout__btn-filter"><i class="material-icons">filter_list</i></button>
    <div class="ux-layout__content ux-layout--inventory-content" id="layoutContent">
        <!-- Router Outlet -->
<!-- <router-outlet></router-outlet> -->
        <!-- BEGIN: INVENTORY CONTENT -->
        <proto-card></proto-card><proto-card></proto-card><proto-card></proto-card><proto-card></proto-card>
        <proto-card></proto-card><proto-card></proto-card><proto-card></proto-card><proto-card></proto-card>
        <proto-card></proto-card><proto-card></proto-card><proto-card></proto-card><proto-card></proto-card>
        <proto-card></proto-card><proto-card></proto-card><proto-card></proto-card><proto-card></proto-card>
        <!-- END: INVENTORY CONTENT -->
    </div>
</mat-sidenav-container>