/* BEGIN: mdc-grid.scss
// -----------------------------------------------------*/

.ux-grid {
    --mdc-layout-grid-margin-desktop: 20px;
    --mdc-layout-grid-gutter-tablet: 20px;
    --mdc-layout-grid-gutter-phone: 10px;
  }