/* BEGIN: app.component.scss
// -----------------------------------------------------*/

/* Web Fonts */
/* ////////////////// */
@import "~assets/styles/web-fonts/_web-fonts";

/* Custom Color Palette */
/* ////////////////// */
@import "~assets/styles/themes";

.ux-prototype {
    padding: 20px;
    h2, h3 {
        margin: 20px 0 10px 0;
    }
    h3 {
        color: $primary-500;
    }
}