/* BEGIN: app.component.scss
// -----------------------------------------------------*/

/* Import Base Component Styles */
@import "~styles.scss";

.ux-prototype {
    padding: 20px;
    h2, h3 {
        margin: 20px 0 10px 0;
    }
    h3 {
        color: $primary-500;
    }
}