<h1 class="ux-title">Welcome to {{title}}</h1>

    <h2 class="ux-title">To Do</h2>
    <ol>
      <li>Fix Child Routing</li>
      <li>Create styleguide pages including icon page and sizing mixin (icons.scss), button page, etc.</li>
    </ol>


    <h3 class="ux-subheader">Basic Buttons</h3>
    <div class="button-row">
      <button mat-button class="ux-button">Basic</button>
      <button mat-button class="ux-button" color="primary">Primary</button>
      <button mat-button class="ux-button" color="accent">Accent</button>
      <button mat-button class="ux-button" color="warn">Warn</button>
      <button mat-button class="ux-button" disabled>Disabled</button>
      <a mat-button class="ux-button" routerLink=".">Link</a>
    </div>

    <h3 class="ux-subheader">Raised Buttons</h3>
    <div class="button-row">
      <button mat-raised-button class="ux-raised-button">Basic</button>
      <button mat-raised-button class="ux-raised-button" color="primary">Primary</button>
      <button mat-raised-button class="ux-raised-button" color="accent">Accent</button>
      <button mat-raised-button class="ux-raised-button" color="warn">Warn</button>
      <button mat-raised-button class="ux-raised-button" disabled>Disabled</button>
      <a mat-raised-button class="ux-raised-button" routerLink=".">Link</a>
    </div>

    <h3 class="ux-subheader">Icon Buttons</h3>
    <div class="button-row">
      <button mat-icon-button class="ux-icon-button">
        <mat-icon class="md-24" aria-label="Example icon-button with a heart icon">favorite</mat-icon>
      </button>
      <button mat-icon-button class="ux-icon-button" color="primary">
        <mat-icon class="md-24" aria-label="Example icon-button with a heart icon">favorite</mat-icon>
      </button>
      <button mat-icon-button class="ux-icon-button" color="accent">
        <mat-icon class="md-24" aria-label="Example icon-button with a heart icon">favorite</mat-icon>
      </button>
      <button mat-icon-button class="ux-icon-button" color="warn">
        <mat-icon class="md-24" aria-label="Example icon-button with a heart icon">favorite</mat-icon>
      </button>
      <button mat-icon-button class="ux-icon-button" disabled>
        <mat-icon class="md-24" aria-label="Example icon-button with a heart icon">favorite</mat-icon>
      </button>
    </div>

    <h3 class="ux-subheader">Fab Buttons</h3>
    <div class="button-row">
      <button mat-fab class="ux-fab">
        <mat-icon class="md-24" aria-label="Example icon-button with a heart icon">favorite</mat-icon>
      </button>
      <button mat-fab class="ux-fab" color="primary">
        <mat-icon class="md-24" aria-label="Example icon-button with a heart icon">favorite</mat-icon>
      </button>
      <button mat-fab class="ux-fab" color="accent">
        <mat-icon class="md-24" aria-label="Example icon-button with a heart icon">favorite</mat-icon>
      </button>
      <button mat-fab class="ux-fab" color="warn">
        <mat-icon class="md-24" aria-label="Example icon-button with a heart icon">favorite</mat-icon>
      </button>
      <button mat-fab class="ux-fab" disabled>
        <mat-icon class="md-24" aria-label="Example icon-button with a heart icon">favorite</mat-icon>
      </button>
      <button mat-fab class="ux-fab">
        <mat-icon class="md-24" aria-label="Example icon-button with a heart icon">favorite</mat-icon>
      </button>
      <a md-fab class="ux-fab" routerLink=".">Link</a>
    </div>

    <h3 class="ux-subheader">Mini Fab Buttons</h3>
    <div class="button-row">
      <button mat-mini-fab class="ux-mini-fab">
        <mat-icon class="md-18" aria-label="Example icon-button with a heart icon">favorite</mat-icon>
      </button>
      <button mat-mini-fab class="ux-mini-fab" color="primary">
        <mat-icon class="md-18" aria-label="Example icon-button with a heart icon">favorite</mat-icon>
      </button>
      <button mat-mini-fab class="ux-mini-fab" color="accent">
        <mat-icon class="md-18" aria-label="Example icon-button with a heart icon">favorite</mat-icon>
      </button>
      <button mat-mini-fab class="ux-mini-fab" color="warn">
        <mat-icon class="md-18" aria-label="Example icon-button with a heart icon">favorite</mat-icon>
      </button>
      <button mat-mini-fab class="ux-mini-fab" disabled>
        <mat-icon class="md-18" aria-label="Example icon-button with a heart icon">favorite</mat-icon>
      </button>
      <button mat-mini-fab class="ux-mini-fab">
        <mat-icon class="md-18" aria-label="Example icon-button with a heart icon">favorite</mat-icon>
      </button>
      <a mat-mini-fab class="ux-mini-fab" routerLink=".">
        <mat-icon class="md-18" aria-label="Example icon-button with a share icon">share</mat-icon>
      </a>
    </div>