/* BEGIN: buttons.scss
// -----------------------------------------------------*/
// NOTE: For Global Button Styles:
// Had to add "encapsulation: ViewEncapsulation.None" in app.component.ts

// Common Base Button Styles
.ux-button {
    font-family: $ux-main-font;
    text-transform: uppercase;
    transition: .25s;
}
.mat-icon {
    &.md-18 {
        font-size: 18px;
        width: 18px;
        height: 18px;
    }
}

// Basic Buttons
.mat-button {
    &.ux-button {
        @extend .ux-button;
        line-height: 36px;
    }
}

// Raised Buttons
.mat-raised-button {
    &.ux-raised-button {
        @extend .ux-button;
        line-height: 36px;
    }
}

// Icon Buttons
.mat-icon-button {
    &.ux-icon-button {
        @extend .ux-button;
        &:hover {
            background: $accent-200;
            &[disabled] {
                background: none; // No BG for disabled button
            }
        }
    }
    .mat-icon {
        @include md-icon-size(16px);
        &.md-12 {
            @include md-icon-size(12px);
        }
        &.md-16 {
            @include md-icon-size(16px);
        }
        &.md-20 {
            @include md-icon-size(20px);
        }
        &.md-24 {
            @include md-icon-size(24px);
        }
    }
}

// FAB Buttons
.mat-fab {
    &.ux-fab {
        @extend .mat-button.ux-button;
    }
}

// Mini FAB Buttons
.mat-mini-fab {
    &.ux-mini-fab {
        @extend .mat-button.ux-button;
    }
}