/* BEGIN: buttons.scss
// -----------------------------------------------------*/

.ux-button, .mat-button {
    font-family: $ux-main-font;
    color: $static-500 !important;
    text-transform: uppercase;
    line-height: 36px;
    transition: .25s;
    &:hover {
        background: $static-500;
        color: $dark-contrast !important;
    }
}
.ux-button--raised, .mat-button--raised {
    @extend .ux-button;
    color: $dark-contrast !important;
    background: $accent-500;
    &:hover {
        background: $accent-400;
        color: $dark-contrast;
    }
}
.ux-button--icon, .mat-icon-button {
    color: $static-500 !important;
    &:hover {
        background: rgba(0,127,162,.1);
    }
}
.mdl-navigation__icon--active {
    @extend .ux-button:hover;
    &:hover {
        cursor: default;
        @extend .ux-button:hover;
    }
}
