/* BEGIN: toolbar.scss
// -----------------------------------------------------*/
// Override ng-material components

.mat-toolbar {
    background: $static-white;
    color: $static-black;
    .mat-toolbar-row {
        height: $app-bar-height;
    }
    .material-icons {
        color: $accent-500;
    }
    .ux-toolbar--spacer {
        flex-grow: 1;
    }
    .ux-title {
        @extend h1.ux-title;
    }
}