/* BEGIN: _ivanti-palette.scss
// -----------------------------------------------------*/
// RGB and Hex follows

/* BEGIN: RGB Color Definition         */
/* ----------------------------------- */
// Primary RGB Values
$ivanti-primary:
"242,242,242"
"229,229,229"
"217,217,217"
"191,191,191"
"166,166,166"
"127,127,127"
"102,102,102"
"77,77,77"
"38,38,38"
"0,0,0"
"218,41,28"
"229,106,97"
"233,127,119"
"240,169,164";
$ivanti-primary-50: nth($ivanti-primary, 1);
$ivanti-primary-100: nth($ivanti-primary, 2);
$ivanti-primary-200: nth($ivanti-primary, 3);
$ivanti-primary-300: nth($ivanti-primary, 4);
$ivanti-primary-400: nth($ivanti-primary, 5);
$ivanti-primary-500: nth($ivanti-primary, 6);
$ivanti-primary-600: nth($ivanti-primary, 7);
$ivanti-primary-700: nth($ivanti-primary, 8);
$ivanti-primary-800: nth($ivanti-primary, 9);
$ivanti-primary-900: nth($ivanti-primary, 10);
$ivanti-primary-A100: nth($ivanti-primary, 11);
$ivanti-primary-A200: nth($ivanti-primary, 12);
$ivanti-primary-A400: nth($ivanti-primary, 13);
$ivanti-primary-A700: nth($ivanti-primary, 14);

// Accent RGB Values
$ivanti-accent:
"231,242,246"
"191,224,233"
"0,127,162"
"0,115,146";
$ivanti-accent-200: nth($ivanti-accent, 1);
$ivanti-accent-300: nth($ivanti-accent, 2);
$ivanti-accent-400: nth($ivanti-accent, 3);
$ivanti-accent-500: nth($ivanti-accent, 4);

// Status RGB Values
$ivanti-status:
"0,135,77"
"249,211,26"
"214,0,0";
$ivanti-status-low: nth($ivanti-status, 1);
$ivanti-status-medium: nth($ivanti-status, 2);
$ivanti-status-high: nth($ivanti-status, 3);

/* END: RGB Color Definition         */
/* --------------------------------- */

/* BEGIN: RGB Color Variable Mapping */
// NOTE: Map RGBs to variables
/* --------------------------------- */
// Primary Color Variables
$primary-50: unquote("rgb(#{$ivanti-primary-50})")   !default;
$primary-100: unquote("rgb(#{$ivanti-primary-100})") !default;
$primary-200: unquote("rgb(#{$ivanti-primary-200})") !default;
$primary-300: unquote("rgb(#{$ivanti-primary-300})") !default;
$primary-400: unquote("rgb(#{$ivanti-primary-400})") !default;
$primary-500: unquote("rgb(#{$ivanti-primary-500})") !default;
$primary-600: unquote("rgb(#{$ivanti-primary-600})") !default;
$primary-700: unquote("rgb(#{$ivanti-primary-700})") !default;
$primary-800: unquote("rgb(#{$ivanti-primary-800})") !default;
$primary-900: unquote("rgb(#{$ivanti-primary-900})") !default;
$primary-A100: unquote("rgb(#{$ivanti-primary-A100})") !default;
$primary-A200: unquote("rgb(#{$ivanti-primary-A200})") !default;
$primary-A700: unquote("rgb(#{$ivanti-primary-A400})") !default;
$primary-A900: unquote("rgb(#{$ivanti-primary-A700})") !default;

// Accent Color Variables
$accent-200: unquote("rgb(#{$ivanti-accent-200})") !default;
$accent-300: unquote("rgb(#{$ivanti-accent-300})") !default;
$accent-400: unquote("rgb(#{$ivanti-accent-400})") !default;
$accent-500: unquote("rgb(#{$ivanti-accent-500})") !default;

// RGB Status Color Variables
// ///// 
$status-low: unquote("rgb(#{$ivanti-status-low})")   !default;
$status-medium: unquote("rgb(#{$ivanti-status-medium})") !default;
$status-high: unquote("rgb(#{$ivanti-status-high})") !default;


/* BEGIN: HEX           */
/* -------------------- */
// Primary Color
$hex-primary-50: #f2f2f2;
$hex-primary-100: #e5e5e5;
$hex-primary-200: #d9d9d9;
$hex-primary-300: #bfbfbf;
$hex-primary-400: #a6a6a6;
$hex-primary-500: #7f7f7f;
$hex-primary-600: #666666;
$hex-primary-700: #4d4d4d;
$hex-primary-800: #262626;
$hex-primary-900: #000000;
$hex-primary-A100: #f0a9a4;
$hex-primary-A200: #e97f77;
$hex-primary-A400: #e56a61;
$hex-primary-A700: #da291c;

// Accent Color
$hex-accent-200: #e6f2f6;
$hex-accent-300: #bfdfe8;
$hex-accent-400: #007292;
$hex-accent-500: #007fa2;

// Hex Status Colors
// Low
$hex-status-low: #00874d;
// Medium
$hex-status-medium: #f9d319;
// High
$hex-status-high: #d50000;
