/* BEGIN: _ivanti-theme.scss
// -----------------------------------------------------*/

.ivanti-theme {
	/* BEGIN: Navigation */
	.ux-layout__header {
		background: $static-white;
	    color: lighten($hex-static-900, 30%);
	}
	.ux-layout__drawer {
        background: linear-gradient(-25deg, $primary-800 80%, $primary-700);
	    border-right-color: $primary-900;
	    outline: 1px solid $static-white;
	    > .ux-layout-title {
	        // background: $primary-800;
	        .ux-headline, .ux-caption {
	            color: $dark-contrast;
	        }
	        .ux-button--icon {
	            color: $dark-contrast;
	        }
	    }
	    .ux-navigation-content, .ux-navigation__footer {
	        .ux-textfield__input {
	            color: $dark-contrast;
	        }
	        .ux-navigation-items {
		        .ux-navigation__item {
		            color: $dark-contrast;
		            &:hover {
				        // background: linear-gradient(90deg, $primary-900 65%, $primary-800);
				        background: $primary-900;
		            }
		        }
		    }
	    }
	    .ux-navigation-content {
	        .ux-navigation {
	            hr {
	                border-top-color: $primary-900;
	            }
	        }
	    }
	    .ux-navigation__footer {

	    }
	}
}
